<nav class="scroll-toc">
  <h1 class="title"><a data-scroll href="#top">{{ site.data.theme.name }}</a></h1>
  <div class="links">
    <a href="{{ site.data.theme.github_url }}/blob/master/CHANGELOG.md"><i class="fa fa-link fa-fw" aria-hidden="true"></i> <code class="version">{{ site.data.theme.version }}</code></a><br />
    <a href="{{ site.data.theme.github_url }}"><i class="fa fa-github fa-fw" aria-hidden="true"></i> GitHub</a><br />
    <a href="{{ site.data.theme.mailing_list_url }}"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Mailing List</a>
  </div>
  <div class="toc">
    <span class="page-title"><a data-scroll href="#top">{{ page.title }}</a></span>
    <div class="js-toc">
    </div>
  </div>
</nav>
